<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset=UTF-8>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='event_bubbling/style.css')}}">

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

    <title>Web Study | By Henry</title>
</head>
<body>
	<h1>오늘의 할 일</h1>
    <ul class="flex flex-col gap-10 itemList">
        <li>
            <input type="checkbox" id="item1">
            <label for="item1">이벤트 버블링 학습</label>
        </li>
        <li>
            <input type="checkbox" id="item2">
            <label for="item2">이벤트 캡쳐 학습</label>
        </li>
    </ul>
</body>
</html>

<script src="{{ url_for('static', filename='event_bubbling/script.js')}}"></script>
