<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset=UTF-8>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='flask_sending_email_test/style.css')}}">
    <link href=https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css rel=stylesheet>
    <title>Web Study | By Henry</title>
</head>
<body>
    <form method="post" action="/email">
        <input name="customer_email" placeholder="Type your email here..."/>
        <input name="send" type="submit"/>
    </form>
</body>
</html>
<script src="{{ url_for('static', filename='flask_sending_email_test/script.js')}}"></script>
