<!DOCTYPE html>
<html lang="ko"> <!--특정 언어로 검색할 경우 필요하다.-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 메타태그를 이용하면 다양한 키워드나 웹 문서에 대한 설명을 붙일 수 있다. -->
    <meta name="keywords" content="HTML 기본 실습">
    <meta name="description" content="프론트엔드 실습">
    <title>Hello, HTML</title>
</head>

<body>
    <h1>웹 개발 기초</h1>

    <hr>

    <p>HTML</p>
    <p>CSS</p>
    <p>자바스크립트</p>

    <hr>

    <table>
        <tr>
            <td>이름</td>
            <td>나이</td>
            <td>성별</td>
        </tr>
        <tr>
            <td>사람 1</td>
            <td>21</td>
            <td>남자</td>
        </tr>
    </table>

    <a href="semantic-tag">리스트 확인하기</a>

</body>
</html>