<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semantic-Tag Test</title>
</head>

<header>
    <div class="logo">
        <a href="#">HJseo</a>
    </div>

    <nav>
        <ul>
            <li><a href="#">안녕하세요</a></li>
            <li><a href="#">메뉴 소개</a></li>
            <li><a href="#">원산지</a></li>
        </ul>
    </nav>
</header>

<body>
    <main>
        <section id="num_1">
            <div class="title">
                <h2>안녕하세요 여러분</h2>
                <!-- 인용문을 표시활 때는 blockquote를 사용합니다. -->
                <blockquote>출처 : TXT - 9와 4분의 3 승강장에서 너를 기다려</blockquote>
                <p>꿈을 꿉시다 믿을 수 없을 만큼 높은 꿈을</p>
                <p>캄캄한 밤 그 계단 밑에서 널 본 순간 마법은 시작됐어</p>
            </div>
        </section>
        <hr>
        <section id="num_2">
            <div class="title">
                <h2>HELLO WORLD</h2>
                <blockquote>출처 : 안예은 - 만개화</blockquote>
                <p>덤벼라 세상아 ㅈ 까라 세상아</p>
                <!-- br은 줄바꿈입니다. -->
                <p>희미하게 스러졌다 다시 <br> 온 봄 그 사이</p>
            </div>
        </section>
        <hr>
        <section id="num_3">
            <div class="title">
                <h2>여러 텍스트 형태를 사용해봅시다</h2>
                <strong>굵은 텍스트</strong>
                <b>굵은 텍스트</b>
                <em>이탤릭체로 강조할 텍스트</em>
                <i>이탤릭체로 강조함</i>
            </div>
        </section>
        <section id="num_4">
            <div class="title">
                <h2>여러 텍스트 형태를 사용해봅시다</h2>
                <strong>굵은 텍스트</strong>
                <b>굵은 텍스트</b>
                <em>이탤릭체로 강조할 텍스트</em>
                <i>이탤릭체로 강조함</i>
            </div>
        </section>
    </main>
</body>

<hr>

<footer>
    <ul>
        <li><a href="#">SNS</a></li>
        <li><a href="#">메뉴 소개</a></li>
        <li><a href="#">원산지</a></li>
    </ul>
</footer>
</html>