@import "../global.scss";
@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=New+Amsterdam&display=swap');

body {
    @include flex-column-center;
    background-image: url("https://cdn.pixabay.com/photo/2024/01/25/19/57/man-8532570_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    @include justi-align-center;
    gap: 20px;

    span {
        font-family: 'Anek Devanagari';
        font-size: 50px;
    }

    .box {
        display: block;
        width: 50px;
        height: 50px;
        background-color: black;
        -webkit-transition:
        width 2s,
        height 2s,
        background-color 2s,
        -webkit-transform 2s;
        transition:
        width 1s,
        height 1s,
        background-color 2s,
        transform 2s;
    
        &:hover {
            background-color: rgba(128, 128, 128, 0.3);
            backdrop-filter: blur(10px);
            width: 100px;
            height: 100px;
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }
}

.gauge {
    width: 20px;
    height: 25px;
    background-color: grey;
    transition-property: width, opacity;
    transition-duration: 2s, 10s;
    transition-timing-function: ease-in;
    transition-delay: 1s;

    &:hover {
        width: 500px;
        opacity: 0.2;
    }
}

.keyframes {
    width: 10px;
    height: 10px;
    background-color: antiquewhite;
    animation: important1 5s infinite;
}

@keyframes slidein {
    from {
      transform: translateX(0%);
    }
  
    to {
      transform: translateX(100%);
    }
}

@keyframes important1 {
    from {
      margin-top: 50px;
    }
    50% {
      margin-top: 150px !important;
    } /* ignored */
    to {
      margin-top: 100px;
    }
  }