<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset=UTF-8>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='flex_test/style.css')}}">

    <title>Web Study | By Henry</title>
</head>
<body>
  <div class="container">
    <div class="jac">
        justi-align-center
    </div>
    <div class="ac">
        align-center
    </div>
    <div class="jc">
        justi-center
    </div>
    <div class="jb">
        <span>justi-between1</span>
        <span>justi-between2</span>
    </div>
    <div class="jbac">
        <span>justi-between-align-center</span>
        <span>justi-between-align-center</span>
    </div>
    <div class="fc">
        <span>flex-column</span>
        <span>flex-column</span>
    </div>
    <div class="fcc">
        <span>justi-between-align-center</span>
        <span>justi-between-align-center</span>
    </div>
  </div>
</body>
</html>

<script src="{{ url_for('static', filename='flex_test/script.js')}}"></script>
