<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Introduction Page</title>
</head>

<header>
    <div class="title">
        <a href="#" class="icon"><i class="fa-solid fa-code-branch"></i>HJseo</a>
    </div>
    <div class="menu">
        <a href="#">About</a>
        <a href="#">Product</a>
        <a href="#">Search</a>
        <a href="#">Info</a>
    </div>
    <div class="menu-burger">
        <a href="#" class="icon"><i class="fa-solid fa-bars"></i></a>
    </div>
</header>

<body>
    <div class="container">
        <div class="main">
            <div class="photo">
                <img src="../static/IMG_3135.JPG">
            </div>
            <div class="details">
                <h1>Hi, There!</h1>
                <p>My name is Hojun. I'm from Myongji Univ.</p>
                <p>This page is made for my introduction and portfolio.</p>
            </div>
        </div>
    </div>
</body>
</html>